<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Mvc ActionLink", "Index")<br />
        @Html.ActionLink("Mvc ActionLink with params", "Index", new { Id = 1 }, new { @class = "some-css-class" })<br />
        <br />
        @using (Html.BeginActionLink("Index"))
        {
            <span>Html link</span>
        }
        <br />
        @using (Html.BeginActionLink("Index", new { Id = 1 }, new { @class = "some-css-class" }))
        {
            <span>Html link with params</span>
        }
        <br /><br />
        @Html.RouteLink("Mvc RouteLink", "Default")<br />
        @Html.RouteLink("Mvc RouteLink with params", "Default", new { Id = 1 }, new { @class = "some-css-class" })<br />
        <br />
        @using (Html.BeginRouteLink("Default"))
        {
            <span>Html route link</span>
        }
        <br />
        @using (Html.BeginRouteLink("Default", new { Id = 1 }, new { @class = "some-css-class" }))
        {
            <span>Html route link with params</span>
        }
    </div>
    <hr />
    <div>
        @Ajax.ActionLink("Ajax ActionLink", "Index", new AjaxOptions() { })<br />
        <br />
        @using (Ajax.BeginActionLink("Index", new AjaxOptions() { }))
        {
            <span>Html link</span>
        }
    </div>
</body>
</html>
